{
  "singleQuote": true,
  "plugins": ["prettier-plugin-packagejson", "@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": ["^@/(.*)$", "<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderTypeScriptVersion": "7.0.2",
  "printWidth": 120,
  "tailwindStylesheet": "./styles/globals.css",
  "tailwindFunctions": ["cn"]
}
